link(href="/javascripts/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/stylesheets/header.css",rel="stylesheet")
script(src="/javascripts/jquery/dist/jquery.min.js")
script(src="/javascripts/bootstrap/dist/js/bootstrap.min.js")
script(src="/javascripts/jquery.validate.min.js")